.fr{
float:right;
}
.fl{
float:left;
}
.mt{
margin-top:15px;
}
.mb{
margin-bottom:15px;
}
.mf{
margin:15px 0;
}
.pl{
  padding-left:20px;
}
.center{
margin:auto;
text-align:center;
}
.ro{
  padding-right: 30px;
}