#header{
  box-shadow: 0 6px 16px #694bee;
  background-image: linear-gradient(to right, #859fe5 0%, #1752e1 100%);
  padding: 40px 0;
  z-index: 10;
  position: relative;
  height: 108px;
  .logo{
    float: left;
    a{
      display: block;
    }
  }
  .menu{
    float: right;
    .top-menu{
      float: left;
      margin-right: 34px;
      li{
        float: left;
        margin-right: 31px;
        &:last-child{
          margin-right: 0;
        }
      }
      a{
        color: #fff;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 1px;
        &:hover{
          opacity:.7;
        }
      }
    }
    .login-menu{
      float: right;
      margin-left: 40px;
      li{
        float: left;
        margin-right: 26px;
        &:last-child{
          margin-right: 0;
        }
      }
      .line{
        color: #fff;
        font-size: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 2px solid #eaeaea;
        padding-bottom: 7px;
        &:hover{
          opacity:.7;
        }
      }
      .dropdown{
        padding: 13px 18px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        position: relative;
        top: -14px;
        height: 48px;
        box-shadow: -2px 5px 8px rgba(27, 26, 85, 0.21);
        border-radius: 2px;
        background-color: #3ac27b;
        a{
          color:#fff;
        }
        .dropdown-menu{
          min-width: 178px;
          margin: 5px 0 0;
          li{
            float: none;
            width: 100%;
          }
          a{
            color: #05053f;
            font-weight: 500;
            i{
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}

#slider{
  width: 100%;
  height: 497px;
  color: #fff;
  overflow: hidden;
  a{
    color:#fff;
  }
  .rights{
    float: right;
    width: 26%;
  }
  .lefts{
    float: left;
    width: 74%;
    padding-top: 78px;
  }
  h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  h3{
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 34px;
  }
  p{
    max-width: 634px;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 54px;
  }
}

.slider-button{
  box-shadow: 0 2px 4px rgba(100, 100, 100, 0.5);
  background-color: #413f6a;
  padding: 13px 24px;
  font-size: 19px;
  font-weight: 400;
  &:hover{
    background-color: #77a862;
  }
}


.carousel-control.left {
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0.15) 0,rgba(0, 0, 0, 0) 100%);
}

.carousel-control.right {
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0.31) 100%);
}