#content{
  margin: 50px 0 30px 0;

  color: #49445b;
  font-weight: 400;
}

.about-us{
  margin-bottom: 40px;
  float: left;
  width: 100%;
  .box{
    width: 100%;
    box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
    border: 1px solid #fff;
    background-color: #fff;
    min-height: 196px;
    padding: 25px;
  }
  h3{
    color: #7156d2;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  p{
    color: #49445b;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: .3px;
    line-height: 24px;
    text-align: justify;
  }
}
.companies{
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
.companie-box{
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-image: url(../img/company-bg.png);
  width: 100%;
  text-align: center;
  line-height: 135px;

  a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    text-rendering: auto;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.34);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &:hover{
    background-image: url(../img/company-bg-hover.png);
  }
}

.today-match{
  margin-bottom: 40px;
  float: left;
  width: 100%;
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-color: #fff;
  .col-sm-8{
    padding-right: 0;
  }
  .col-sm-4{
    padding-left: 0;
  }
  .left{
    min-height: 144px;
    border: 1px solid #fff;
    background-color: #fff;
    float: left;
    width: 65%;
    .pos{
      position: relative;
      top: 20px;
      padding-left: 35px;
    }
    h2{
      border-bottom: #f2f2f2 1px solid;
      padding: 15px 20px 24px 20px;
      color: #222;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 28px;
    }
    .row {
    }
    .best-rate{
      box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
      background-image: linear-gradient(to right, #859fe5 0%, #1752e1 100%);
      color:#fff;
    }
    .time{
      color: #d7c343;
      font-size: 14px;
      font-weight: 700;
      margin-right: 10px;
      width: 42px;
      display: inline-block;
    }
    .date{
      margin-right: 10px;
      width: 42px;
      display: inline-block;
      color: #d3d3d3;
      font-size: 13px;
      font-weight: 700;
    }
    .ligs{
      color: #7f6f6f;
      font-size: 13px;
      font-weight: 500;
    }
    .teams{
      margin-top: 7px;
      display: block;
      height: 21px;
      color: #ffce40;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      i{
        font-size: 34px;
        float: left;
        margin-right: 21px;
      }
    }
    ul{
      display: table;
      width: 100%;
    }
    h4{
      margin: 16px 0 2px 0;
      height: 57px;
      color: #222;
      font-size: 24px;
      font-weight: 700;
    }
    li{
      i{
        width: 161px;
        display: table;
        margin: auto;
        font-style: normal;
        background-color: #e5e5e5;
        height: 31px;
        border-radius: 4px;
      }
      text-align: center;
      margin-right: 15px;
      border-right: #f3f3f3 1px solid;
      color: #241f33;
      font-size: 16px;
      font-weight: 500;
      display: table-cell;
      width: 10%;
      padding: 10px 0;
      height: 86px;
      &:last-child{
        margin-right: 0;
        border-right: 0;
      }

      span{
        height: 31px;
        background-color: #e5e5e5;
        line-height: 30px;
        font-weight: 700;
        float: left;
        display: inline-block;
        width: 46px;
        text-align: center;
        color: #222;
        font-size: 14px;
        &:nth-child(2){
          width: 68px;
          height: 31px;
          background-color: #dadada;
          -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        }
      }
    }
  }
  .right{
    padding: 18px 18px 26px 67px;
    min-height: 144px;
    width: 398px;
    height: 249px;
    box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
    background-color: #ffce40;
    -webkit-clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
    float: right;
    .top{
      float: left;
      width: 100%;
      .high{
        text-transform: uppercase;
        float: left;
        width: 177px;
        height: 48px;
        font-size: 20px;
        font-weight: 700;
        color: #222;
        span{
          color: #fff;
        }

      }
      .high-logo{
        float: right;
        img{
          max-width: 104px;
        }
      }
    }
    .bottom{
      float: left;
      width: 100%;
      margin-top: 15px;
      border-top: 1px solid rgba(255, 255, 255, 0.19);
      padding-top: 15px;
      .rate{
        box-shadow: 0 2px 4px rgba(100, 100, 100, 0.5);
        background-color: #efefef;
        float: left;
        display: inline-block;
        padding: 9px 26px;
        color: $blue-k;
        font-size: 16px;
        font-weight: 700;
      }
      .button-bet{
        float: left;
        display: inline-block;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        width: 184px;
        height: 39px;
        background-color: #222;
        text-align: center;
        line-height: 39px;
        i{
          -webkit-clip-path: polygon(0 0, 100% 0%, 91% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 91% 100%, 0 100%);
          float: left;
          color: #222;
          font-style: normal;
          width: 67px;
          height: 39px;
          background-color: #fff;

        }
        &:hover{
          background-color: #77a862;
        }
      }
    }
  }
}
.today-match .left li span:last-child{
  margin-right: 0;
}
.news-box{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
  img{
    width: 100%;
  }
  span{
    color: $text-b;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding: 14px 15px;

    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

  }
  &:hover{
    span{
      color:#fff;
      background-image: linear-gradient(to right, #859fe5 0%, #1752e1 100%);
    }
  }
}

.weekly-bets{
  h2{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 58px;
    padding: 0 20px;
    height: 58px;
    box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
    border-radius: 4px 4px 0 0;
    background-color: #ffce40;
    i{
      margin-right: 20px;
    }
  }
  table{
    width: 100%;
    background-color: #fff;
    min-width: 847px;
  }
  thead{
    background-color: #222;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    tr{
      height: 40px;

    }
  }
  .time{
    display: block;
    width: 45px;
    height: 38px;
    border-radius: 4px;
    background-color: #e1e8ec;
    text-align: center;
    color: #565d6f;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px;
  }
  .date{
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin: 2px 0 9px 0;
    color: #cbcbcb;
  }
  .team{
    display: block;
    color: #222;
    font-size: 14px;
  }
  tbody{
    tr:nth-child(odd){

    }
    tr:nth-child(even){
      background-color: #f3f3f3;
    }
    tr {
      td:first-child{
        padding-left: 20px;
        text-align: left;
      }
      td:nth-child(2),td:nth-child(3){
        text-align: left;
      }
      td{
        text-align: center;
        .team:first-child{
          margin: 7px 0 0 0;
        }
        .team:last-child{
          margin: 2px 0 9px 0;
        }
      }
    }
  }
  .rate{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    line-height: 33px;
    display: inline-block;
    width: 68px;
    height: 31px;
    background-color: #222;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    &:hover{
      color:#fff;
      background-color: #ffce40;
    }
  }
  .up{
    color: #000;
    font-size: 13px;
    font-weight: 600;
  }
  .contry{
    display: block;
    margin: 7px 0 0 0;
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
  }
  .lig{
    display: block;
    margin: 2px 0 9px 0;
    color: #9a9a9a;
    font-size: 14px;
    font-weight: 400;
  }
}
.w80{
  width: 80px;
  text-align: center;
}
.w60{
  width: 60px;
  text-align: center;
}
.w140{
  width: 140px;
}

.banner-1{
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  overflow: hidden;
  h3{
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    font-size: 34px;
    color: #4e66d7;
    font-weight: 700;
    span{
      color: #5b5757;
      font-weight: 300;
    }
  }
  h4{
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    color: #4e66d7;
    font-size: 28px;
    font-weight: 300;
    margin: 20px 0 60px 0;
    position: relative;
    left: 26px;
  }
}

.news,.weekly-bets{
  float: left;
  width: 100%;
}
.more{
  float: left;
  width: 100%;
}

.dropdown-menu>li>a {
  padding: 4px 20px;
  font-weight: 600;
  color: #4b4250;
}

.dropdown-menu {
  padding: 5px 0;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  font-weight: 700;
}
.dropdown-menu .divider {
  margin: 2px 0;
  background-color: rgba(229, 229, 229, 0.33);
}

.content{
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-color: #fff;
  padding: 20px;
}
.left-menu{
  float: left;
  width: 21%;
  position: relative;
  z-index: 100;
  padding: 20px;
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-color: #222;
  .social{
    .fa-facebook{
      color: #533eae;
    }
    .fa-twitter{
      color: #a59ad8;
    }
    .fa-google-plus{
      color: #db4669;
    }
    a:hover{
      opacity:.7;
    }
    li{
      float: left;
      margin-right: 33px;
      font-size:25px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  h4{
    margin-bottom: 19px;
    background-color: #ffce40;
    height: 44px;
    line-height: 44px;
    margin-left: -20px;
    width: 90%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
    padding: 0 20px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .menu-list{
    margin-bottom: 19px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    li{
      margin-bottom: 6px;
    }
    a{
      color: #909090;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.75px;
    }
    a:hover{
      opacity:.7;
    }
  }
}

.content-page{
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-color: #fff;
  padding: 20px 30px;
  float: left;
  width: 79%;
  h1{
    color: #222;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .txt{
    font-size: 14px;
    letter-spacing: .5px;
    color: #49445b;
    font-weight: 400;
    h2,h3,h1,h4,h5{
      font-size: 21px;
      margin-bottom: 12px;
    }
  }
}

.pages{
  .col-md-3{
    padding-right: 0;
  }
  .col-md-9{
    padding-left: 0;
  }
}

.img-center{
  display: table;
  margin: 14px auto;
  width: 100%;
  image-rendering: pixelated;
}

.open-button{
  display: none;
  font-size: 16px;
  color: #9a9a9a;
  font-weight: 600;
  i{
    margin-right: 16px;
    position: relative;
    top: 1px;
    font-size: 17px;
    color: #ffffff;
    background: #574b5a;
    border-radius: 100px;
    text-align: center;
    width: 26px;
    height: 26px;
    line-height: 26px;
  }
  &:hover{
    color: #4d4d4e;
  }
}

.lines{
  border-bottom: 1px solid #f2f2f2;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.button-primary{
  padding:0 25px;
  height: 51px;
  line-height:51px;
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  border-radius: 3px;
  background-image: linear-gradient(to right, #859fe5 0%, #1752e1 100%);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  &:hover{
    background-image: linear-gradient(to right, #7a94d7 0%, #1648cb 100%);
  }
  &:focus{
    box-shadow: inset 0 1px 28px rgb(73, 61, 141);
  }
}

.puts{
  select{
    background-image: url(../img/down.png);
    background-position: 91% 52%;
    background-size: 16px;
    background-repeat: no-repeat;
  }
  input[type='text'],select,input[type='email'],input[type='password']{
    width: 100%;
    height: 54px;
    line-height: 50px;
    border-radius: 4px;
    border: 2px solid #ececec;
    background-color: #fff;
    padding: 0 15px;
    color: #736f81;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:hover{
      box-shadow: inset 0 1px 10px rgba(73, 61, 141, 0.26);
      border: 2px solid #dfdfdf;
      background-color: #fff;
    }
    &:focus{
      box-shadow: inset 0 1px 10px rgba(73, 61, 141, 0.26);
      border: 2px solid #dfdfdf;
      background-color: #fafafa;
    }

  }

  textarea{
    width: 100%;
    min-height:165px;
    border-radius: 4px;
    border: 2px solid #ececec;
    background-color: #fff;
    padding: 15px;
    color: #736f81;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    &:hover{
      box-shadow: inset 0 1px 10px rgba(73, 61, 141, 0.26);
      border: 2px solid #dfdfdf;
      background-color: #fff;
    }
    &:focus{
      box-shadow: inset 0 1px 10px rgba(73, 61, 141, 0.26);
      border: 2px solid #dfdfdf;
      background-color: #fafafa;
    }
  }
}

.logo-white{
  display: table;
  margin:0 auto 30px auto;
}

.login-form{
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  padding: 24px;
  overflow: auto;
  h1{
    color: #7156d2;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
  }

}
.panel-head{
  float: left;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  a{
    float: right;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: 7px;
  }
}

.more-sytle{
  background:
          -webkit-linear-gradient(45deg, hsla(21, 93%, 46%, 1) 0%, hsla(21, 93%, 46%, 0) 70%),
          -webkit-linear-gradient(315deg, hsla(59, 100%, 46%, 1) 10%, hsla(59, 100%, 46%, 0) 80%),
          -webkit-linear-gradient(225deg, hsla(17, 94%, 56%, 1) 10%, hsla(17, 94%, 56%, 0) 80%),
          -webkit-linear-gradient(135deg, hsla(91, 97%, 25%, 1) 100%, hsla(91, 97%, 25%, 0) 70%);
  background:
          linear-gradient(45deg, hsla(21, 93%, 46%, 1) 0%, hsla(21, 93%, 46%, 0) 70%),
          linear-gradient(135deg, hsla(59, 100%, 46%, 1) 10%, hsla(59, 100%, 46%, 0) 80%),
          linear-gradient(225deg, hsla(17, 94%, 56%, 1) 10%, hsla(17, 94%, 56%, 0) 80%),
          linear-gradient(315deg, hsla(91, 97%, 25%, 1) 100%, hsla(91, 97%, 25%, 0) 70%);
}
.center-low{
  width: 450px;
  margin: 58px auto;
}
.center-low-join {
  width: 890px;
  margin: 58px auto;
}
label{
  display: block;
  font-weight: 600;
  color: #616161;
  margin-bottom: 10px;
  float: left;
}

.money{
  height: 55px;
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-color: #fff;
  display: block;
  text-align: center;
  line-height: 55px;
  color: #736f81;
  font-size: 15px;
  font-weight: 400;
}
.profile-extra{
  float: left;
  width: 100%;
  li{
    margin-bottom: 17px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(228, 228, 228, 0.43);
    color: #736f81;
    font-size: 15px;
    font-weight: 300;
    span{
      float: right;
      i{
        margin-right: 40px;
      }
    }
  }
}
.promo-left{
  width: 18%;
  margin-right: 1%;
}
.promo {
  background: none;
  box-shadow: none;
  padding: 0px 15px;
}
.promo-box{
  box-shadow: -3px 3px 22px rgba(164, 164, 164, 0.21);
  background-color: #fff;
  padding: 20px 0px 0px 20px;
  margin-bottom: 30px;
  min-height: 224px;
  img{
    max-width: 100%;
  }
  &:hover{
    opacity:.7;
  }
}

.okey{
  width: 191px;
  font-size: 15px;
  font-weight: 500;
  color: #b8b8b8;
  float: left;
  a{
    color: #1b1d25;
  }
}

.transfer{
  ul{
    float: left;
    width: 100%;
    margin-bottom: 40px;
  }
  .active a{
    background-color: #ffce40;
    color: #222 !important;
  i{
    color: #222;

  }
  }

  li{
    float: left;
    width: 50%;
    margin-bottom: 2%;

    a{
      background-color: #6e6e6e;
      display: block;
      overflow: hidden;
      padding: 5px 20px;
      line-height: 55px;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      i{
        font-size: 41px;
        float: left;
        color: #fff;
        position: relative;
        top: 7px;
      }
      &:hover{
        color: rgba(0, 0, 0, 0.72);
        i{
          color: rgba(0, 0, 0, 0.74);
        }
      }
    }
  }

}

.head-sub{
  margin-bottom: 4px;
  border-bottom: 1px solid #eee;
  padding-bottom: 17px;
  font-size: 18px;
  float: left;
  width: 100%;
}

.banks-box{
  h4{
    margin-bottom: 15px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    a{
      display: block;
      cursor: pointer;
      color: #585656;
      font-size: 15px;
      padding: 10px 10px;
    }
  }
  table{
    font-size: 13px;
    letter-spacing: .3px;
    color: #49445b;
  }
  .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fbfbfb;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 10px 8px;
    border-top: 1px solid #f3f3f3;
  }
  tbody{
    tr{
      td:first-child{
        font-weight: 600;
      }
    }
  }
}
.mobil-fix{
  float: left;
  width: 100%;
}
#BankVal{
  float: left;
  width: 100%;
  h3{
    font-size: 18px;
    margin-bottom: 14px;
  }

  .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fbfbfb;
  }
  table{

    tr{
      border: 2px solid #ececec;
    }
  }
  tbody{
    tr{
      td:first-child{
        font-weight: 600;
      }
    }
  }
}

.modal{
  background-image:linear-gradient(to right, rgba(133, 159, 229, 0.317647) 0%, rgba(23, 82, 225, 0) 100%);
}

.modal-content {
  border:0;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.36);
  box-shadow:  0 0px 8px rgba(0, 0, 0, 0.36);
}

.modal-body {
  color: #49445b;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .3px;
  line-height: 24px;
}

.modal-footer{
  border-top: 1px solid #f3f3f3;
}

.modal-header {
  border-bottom: 1px solid #f3f3f3;}


.modal-title {
  color: #555261;
}


.alert-info {
  color: #4e5858;
  background-color: #fbfbfb;
  border-color: #f3f3f3 !important;
  font-size: 14px;
}
.alert {
  padding: 15px;
  margin-bottom: 24px;
  border: 1px solid transparent;
  border-radius: 4px;
}


.war-link{
  background: #3ac27b;
  color: #fff;
  padding: 3px 6px;
  border-radius: 3px;
  box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  &:hover{
    background: #3365e2;
    color: #fff;
  }
}


.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  right: 26%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  left: 20%;
}

.message-box{
  border: 1px solid #eee;
  margin-bottom: 15px;
  float: left;
  width: 100%;
  h3{
    font-size: 18px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    small{
      float: right;
      padding-top: 5px;
      font-size: 13px;
    }
  }
  p{
    margin: 0;
    padding: 15px;
  }
}

.message-buttons{
  float: right;
  margin-bottom: 10px;
}
.message-buttons li{
  float: left;
  margin-right: 10px;
  &:last-child{
    margin-right: 0;
  }
}

.have-message{
  z-index: 100;
  background: #c7c048;
  float: left;
  padding: 0 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  height: 36px;
  box-shadow: -2px 5px 8px rgba(27, 26, 85, 0.21);
  border-radius: 2px;
  line-height: 36px;
  &:hover{
    background: #bfb842 2px;
    color:#fff;
  }
}
.typeahead { z-index: 1051; }

.boxo{
  margin-bottom: 30px;
  .ox{
    width: 100%;
    background: #222f;
    text-align: start;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 13px;
    min-height: 80px;
    a{
      color: #cce231;
      font-weight: 500;
      &:hover{
        color:#ffff;
      }
    }
    span{
      display: block;

    }
  }
}

.guest{
  float: right;
  height: 30px;
  line-height: 30px;
  li{
    float: left;
    margin-right: 50px;
    &:first-child a{
      color: #ffc722;
    }
    a{
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: -0.5px;
      text-transform: uppercase;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

.we{
  position: relative;
  padding: 68px 0;
  background-image: url(../img/lops.svg);
  width: 100%;
  background-position: 68% 109%;
  background-size: 114%;
  background-repeat: no-repeat;
  .button{
    width: 184px;
    height: 39px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    text-align: center;
    line-height:39px;
  }
}
.we-left{
  h2{
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -1.36px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
    max-width: 369px;
    span{
      color: #222;
    }
  }
  p{
    color: #222;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.57px;
    line-height: 28px;
    margin-bottom: 26px;
    width: 75%;
  }
}

.we-right{
  padding-left: 91px;
  h2{
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -1.36px;
    text-transform: uppercase;
    color: #ffce40;
    max-width: 323px;
    margin-bottom: 40px;
    line-height: 50px;
    span{
      color: #fff;
    }
  }
}

.compy-logo{
  span{
    display: block;
    width: 86px;
    color: #ffce40;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -1.36px;
    margin-top: 27px;
    max-width: 200px;
  }
}

.companie-left-logo{
  position: absolute;
  right: -5px;
  top: -52px;
}

.high-logo{
  width: 256px;
  height: 54px;
  background-color: #222;
  position: relative;
  left: -51px;
  padding-left: 20px;
  text-align: center;
  line-height: 42px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
}

.last-win{
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  border-radius: 4px 4px 0 0;
  background-color: #fff;
  float: left;
  width: 100%;
  padding-bottom: 16px;
  h3{
    padding: 22px;
    background-image: url(../img/last-pay-bg.png);
    height: 107px;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222;
    span{
      color: #fff;
      display: block;
    }
    i{
      display: inline-block;
      float: left;
      height: 50px;
      margin-right: 22px;
      color: #fff;
      font-size: 37px;
    }
  }
  .padding{
    padding: 15px;

  }
}

.win-box{
  border: 1px solid #e8e8e8;
  background-color: #f3f8fa;
  padding: 12px 15px;
  border-bottom: 0;
  float: left;
  width: 100%;
  &:last-child{
    border-bottom: 1px solid #e8e8e8;
  }
  &:nth-child(odd){
    background-color: #fff;
  }
  .padding{
    padding: 15px;
  }
  .left{
    float: left;
    color: #9ea2a6;
    font-size: 12px;
    font-weight: 400;
    span{
      display: block;
      color: #222;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
  }
  .right{
    float: right;
    span{
      height: 31px;
      background-color: #ffce40;
      display: inline-block;
      -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 13% 100%);
      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 13% 100%);
      padding: 0 10px 0 30px;
      line-height: 31px;
      color: #222;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

#statics{
  padding: 122px 0 63px 0;
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  border: 1px solid #fff;
  background-color: #fff;
  position: relative;
  margin-top: 80px;
  .info{
    color: #ffce40;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: -1.64px;
    float: right;
    width: 198px;
    padding-left: 12px;
    span{
      color: #646464;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      width: 100%;
      float: left;
      letter-spacing: 0.2px;
    }
  }
  i{
    font-size: 58px;
    float: left;
    color: #646464;
    position: relative;
    top: 11px;
  }
}

.icon-partner{
  font-size: 46px !important;
}
.icon-uye{
  font-size: 51px !important;
}

.icon-kupon{
  font-size: 63px !important;
}
.info.bahis{
  margin-right: 19px!important;
}

.head-static{
  width: 32%;
  height: 80px;
  background-color: #ffce40;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.29px;
  text-transform: uppercase;
  color: #222;
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: -42px;
  -webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 91% 0%, 100% 100%, 0% 100%);
  span{
    color: #fff;
  }

}

.button-main{
  background-color: #ffc722;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.57px;
  text-transform: uppercase;
  float: left;
  height: 44px;
  text-align: center;
  border:none;
  line-height: 44px;
  padding-left: 20px;
  i{
    width: 64px;
    height: 44px;
    background-color: #222;
    position: relative;
    top: 0px !important;
    text-align: center;
    line-height: 50px;
    -webkit-clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
    padding-left: 15px;
    font-size: 16px !important;
    float: right !important;
    color: #fff !important;
    margin-left: 10px;
  }
}

.join{
  width: 521px;
  float: right;
  position: absolute;
  right: 98px;
  top: -87px;
  span{
    color: #9ea2a6;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    top: 18px;
  }
}

.box-ban{
  position: relative;
  div{
    height: 57px;
    border-left: 5px solid #ffce40;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    position: absolute;
    bottom: 40px;
    padding-left: 23px;
    span{
      display: block;
      height: 28px;
      color: #ffce40;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.86px;
      text-transform: uppercase;
    }
  }
}

#slidero{
  position: absolute;
  right: 0%;
  top: 41%;
  width: 44%;
  height: 300px;
  .carousel-inner{
    height: 293px;
  }
}

.arrows{
  position: relative;
  top: -100px;
  i{
    font-size: 26px;
  }
}

.ar-left{
  height: 45px;
  background: #4c4c4c;
  display: inline-block;
  width: 65px;
  padding: 11px 17px 24px 17px;
  i{
    color:#fff;
  }
  &:hover{
    background-color: #79457a;
  }
}

.ar-right{
  height: 45px;
  -webkit-clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
  background-color: #ffce40;
  display: inline-block;
  width: 65px;
  padding: 11px 9px 18px 24px;
  position: relative;
  left: -11px;
  i{
    color:#222;
  }
  &:hover{
    background-color: #ff952e;
  }
}

.brl{
  border-radius: 6px 0 0 6px;
}

.brr{
  border-radius: 0 6px 6px 0;
}

.form-button{
  background-color: #ffc722;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.57px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 0;
  padding-left: 23px;
  line-height: 47px;
  height: 44px;
}

.form-button i{
  width: 64px;
  height: 44px;
  background-color: #222;
  position: relative;
  top: 0px !important;
  text-align: center;
  line-height: 50px;
  -webkit-clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
  padding-left: 15px;
  font-size: 16px !important;
  float: right !important;
  color: #fff !important;
  margin-left: 10px;
}