@import url("https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,400i,500,600,700,800,900&subset=latin-ext");
body {
  background: #f6f7f9;
  font-family: 'Exo 2', sans-serif;
  font-size: 13px;
  color: #000;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow: -moz-scrollbars-vertical; }

a {
  color: #000;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a:active, a:focus {
    color: #000;
    text-decoration: none; }
  a:hover {
    text-decoration: none; }

ul, li, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  list-style-type: none; }

* {
  outline: 0; }

.cf {
  *zoom: 1; }
  .cf:after, .cf:before {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

.fr {
  float: right; }

.fl {
  float: left; }

.mt {
  margin-top: 15px; }

.mb {
  margin-bottom: 15px; }

.mf {
  margin: 15px 0; }

.pl {
  padding-left: 20px; }

.center {
  margin: auto;
  text-align: center; }

.ro {
  padding-right: 30px; }

#header {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to right, #859fe5 0%, #1752e1 100%);
  padding: 40px 0;
  z-index: 10;
  position: relative;
  height: 108px; }
  #header .logo {
    float: left; }
    #header .logo a {
      display: block; }
  #header .menu {
    float: right;
    max-height: 68px; }
    #header .menu .top-menu {
      float: left;
      margin-right: 64px; }
      #header .menu .top-menu li {
        float: left;
        margin-right: 31px; }
        #header .menu .top-menu li:last-child {
          margin-right: 0; }
      #header .menu .top-menu a {
        color: #fff;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 1px; }
        #header .menu .top-menu a:hover {
          opacity: .7; }
    #header .menu .login-menu {
      float: left;
      margin-right: 64px; }
      #header .menu .login-menu li {
        float: left;
        margin-right: 26px; }
        #header .menu .login-menu li:last-child {
          margin-right: 0; }
      #header .menu .login-menu .line {
        color: #fff;
        font-size: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 2px solid #eaeaea;
        padding-bottom: 7px; }
        #header .menu .login-menu .line:hover {
          opacity: .7; }
      #header .menu .login-menu .dropdown {
        padding: 13px 18px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        position: relative;
        top: -14px;
        height: 48px;
        box-shadow: -2px 5px 8px rgba(27, 26, 85, 0.21);
        border-radius: 2px;
        background-color: #3ac27b; }
        #header .menu .login-menu .dropdown a {
          color: #fff; }
        #header .menu .login-menu .dropdown .dropdown-menu {
          min-width: 178px;
          margin: 5px 0 0; }
          #header .menu .login-menu .dropdown .dropdown-menu li {
            float: none;
            width: 100%; }
          #header .menu .login-menu .dropdown .dropdown-menu a {
            color: #05053f;
            font-weight: 500; }
            #header .menu .login-menu .dropdown .dropdown-menu a i {
              margin-right: 8px; }

#slider {
  width: 100%;
  height: 497px;
  color: #fff;
  overflow: hidden; }
  #slider a {
    color: #fff; }
  #slider .rights {
    float: right;
    width: 26%; }
  #slider .lefts {
    float: left;
    width: 74%;
    padding-top: 78px; }
  #slider h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px; }
  #slider h3 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 34px; }
  #slider p {
    max-width: 634px;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 54px; }

.slider-button {
  box-shadow: 0 2px 4px rgba(100, 100, 100, 0.5);
  background-color: #413f6a;
  padding: 13px 24px;
  font-size: 19px;
  font-weight: 400; }
  .slider-button:hover {
    background-color: #77a862; }

.carousel-control.left {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0, transparent 100%); }

.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.31) 100%); }

.login-header {
  float: right;
  position: relative;
  top: -25px;
  display: inline-block; }
  .login-header #email {
    float: left;
    width: 95px;
    margin-right: 10px;
    height: 34px;
    box-shadow: -2px 5px 8px rgba(27, 26, 85, 0.21);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.17) !important;
    border: none;
    padding: 10px;
    color: #fff !important; }
  .login-header #password {
    float: left;
    width: 95px;
    height: 34px;
    box-shadow: -2px 5px 8px rgba(27, 26, 85, 0.21);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.17) !important;
    border: none;
    padding: 10px;
    color: #fff !important; }
  .login-header a {
    border: none;
    height: 34px;
    box-shadow: -2px 5px 8px rgba(27, 26, 85, 0.21);
    border-radius: 2px;
    background-color: #3ac27b;
    width: 95px;
    color: #fff;
    float: left;
    margin-top: 8px;
    text-align: center;
    line-height: 34px; }
    .login-header a:hover {
      background-color: #313352; }
  .login-header button {
    border: none;
    height: 34px;
    box-shadow: -2px 5px 8px rgba(27, 26, 85, 0.21);
    border-radius: 2px;
    background-color: #3ac27b;
    width: 95px;
    color: #fff;
    float: right;
    margin-top: 8px; }
    .login-header button:hover {
      background-color: #313352; }
  .login-header ::-webkit-input-placeholder {
    color: #fff; }
  .login-header ::-moz-placeholder {
    color: #fff; }
  .login-header :-ms-input-placeholder {
    color: #fff; }
  .login-header :-moz-placeholder {
    color: #fff; }

#content {
  margin: 50px 0 30px 0;
  color: #49445b;
  font-weight: 400; }

.about-us {
  margin-bottom: 40px;
  float: left;
  width: 100%; }
  .about-us .box {
    width: 100%;
    box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
    border: 1px solid #fff;
    background-color: #fff;
    min-height: 196px;
    padding: 25px; }
  .about-us h3 {
    color: #7156d2;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .about-us p {
    color: #49445b;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: .3px;
    line-height: 24px;
    text-align: justify; }

.companies {
  margin-bottom: 40px;
  float: left;
  width: 100%; }

.companie-box {
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-image: url(../img/company-bg.png);
  width: 100%;
  text-align: center;
  line-height: 135px; }
  .companie-box a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    text-rendering: auto;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.34);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .companie-box:hover {
    background-image: url(../img/company-bg-hover.png); }

.today-match {
  margin-bottom: 40px;
  float: left;
  width: 100%; }
  .today-match .col-sm-8 {
    padding-right: 0; }
  .today-match .col-sm-4 {
    padding-left: 0; }
  .today-match .left {
    min-height: 144px;
    box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
    border: 1px solid #fff;
    background-color: #fff; }
    .today-match .left .pos {
      position: relative;
      top: 20px;
      padding-left: 35px; }
    .today-match .left h2 {
      color: #8570db;
      font-size: 22px;
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: #f2f2f2 1px solid;
      padding: 15px 20px; }
    .today-match .left .best-rate {
      box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
      background-image: linear-gradient(to right, #859fe5 0%, #1752e1 100%);
      color: #fff; }
    .today-match .left .time {
      color: #d7c343;
      font-size: 14px;
      font-weight: 700;
      margin-right: 10px;
      width: 42px;
      display: inline-block; }
    .today-match .left .date {
      margin-right: 10px;
      width: 42px;
      display: inline-block;
      color: #d3d3d3;
      font-size: 13px;
      font-weight: 700; }
    .today-match .left .ligs {
      color: #7f6f6f;
      font-size: 13px;
      font-weight: 500; }
    .today-match .left .teams {
      color: #231f33;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 2px;
      display: inline-block; }
    .today-match .left ul {
      float: right; }
    .today-match .left li {
      float: left;
      text-align: center;
      margin-right: 15px;
      border-right: #f3f3f3 1px solid;
      color: #241f33;
      font-size: 16px;
      font-weight: 500;
      padding: 11px 15px 14px 0; }
      .today-match .left li:last-child {
        margin-right: 0;
        border-right: 0; }
      .today-match .left li span {
        width: 68px;
        height: 30px;
        border-radius: 2px;
        background-color: #dce6ff;
        text-align: center;
        display: block;
        line-height: 30px;
        margin-top: 10px;
        color: #000;
        font-size: 13px;
        font-weight: 700; }
  .today-match .right {
    padding: 18px 18px 18px 24px;
    background-image: linear-gradient(to right, #859fe5 0%, #1752e1 100%);
    min-height: 144px;
    box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21); }
    .today-match .right .top {
      float: left;
      width: 100%; }
      .today-match .right .top .high {
        color: #fff;
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
        float: left; }
      .today-match .right .top .high-logo {
        float: right; }
        .today-match .right .top .high-logo img {
          max-width: 104px; }
    .today-match .right .bottom {
      float: left;
      width: 100%;
      margin-top: 15px;
      border-top: 1px solid rgba(255, 255, 255, 0.19);
      padding-top: 15px; }
      .today-match .right .bottom .rate {
        box-shadow: 0 2px 4px rgba(100, 100, 100, 0.5);
        background-color: #efefef;
        float: left;
        display: inline-block;
        padding: 9px 26px;
        color: #413f6a;
        font-size: 16px;
        font-weight: 700; }
      .today-match .right .bottom .button-bet {
        box-shadow: 0 2px 4px rgba(100, 100, 100, 0.5);
        background-color: #413f6a;
        float: left;
        display: inline-block;
        padding: 9px 26px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        margin-left: 20px; }
        .today-match .right .bottom .button-bet:hover {
          background-color: #77a862; }

.news-box {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 30px; }
  .news-box img {
    width: 100%; }
  .news-box span {
    color: #8570db;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding: 14px 15px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .news-box:hover span {
    color: #fff;
    background-image: linear-gradient(to right, #859fe5 0%, #1752e1 100%); }

.weekly-bets h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-image: linear-gradient(to right, #859fe5 0%, #1752e1 100%);
  height: 58px;
  line-height: 58px;
  padding: 0 20px; }
  .weekly-bets h2 i {
    margin-right: 20px; }
.weekly-bets table {
  width: 100%;
  background-color: #fff;
  min-width: 847px; }
.weekly-bets thead {
  background-color: #34223f;
  color: #fff;
  font-size: 16px;
  font-weight: 700; }
  .weekly-bets thead tr {
    height: 40px; }
.weekly-bets .time {
  display: block;
  margin: 7px 0 0 0;
  color: rgba(48, 59, 222, 0.6);
  font-size: 14px;
  font-weight: 700;
  max-width: 50px; }
.weekly-bets .date {
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin: 2px 0 9px 0;
  color: #cbcbcb; }
.weekly-bets .team {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 500; }
.weekly-bets tbody tr:nth-child(even) {
  background-color: #f3f3f3; }
.weekly-bets tbody tr td:first-child {
  padding-left: 20px;
  text-align: left; }
.weekly-bets tbody tr td:nth-child(2), .weekly-bets tbody tr td:nth-child(3) {
  text-align: left; }
.weekly-bets tbody tr td {
  text-align: center; }
  .weekly-bets tbody tr td .team:first-child {
    margin: 7px 0 0 0; }
  .weekly-bets tbody tr td .team:last-child {
    margin: 2px 0 9px 0; }
.weekly-bets .rate {
  width: 68px;
  height: 30px;
  border-radius: 2px;
  border: 2px solid #d5d5d5;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  line-height: 26px;
  display: inline-block; }
  .weekly-bets .rate:hover {
    box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
    background-image: linear-gradient(to right, #859fe5 0%, #1752e1 100%);
    color: #fff;
    border: none;
    line-height: 30px; }
.weekly-bets .up {
  color: #000;
  font-size: 13px;
  font-weight: 600; }
.weekly-bets .contry {
  display: block;
  margin: 7px 0 0 0;
  font-size: 14px;
  font-weight: 400;
  color: #9a9a9a; }
.weekly-bets .lig {
  display: block;
  margin: 2px 0 9px 0;
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 400; }

.w80 {
  width: 80px;
  text-align: center; }

.w60 {
  width: 60px;
  text-align: center; }

.w140 {
  width: 140px; }

.banner-1 {
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  overflow: hidden; }
  .banner-1 h3 {
    text-shadow: 0 2px 4px transparent;
    font-size: 34px;
    color: #4e66d7;
    font-weight: 700; }
    .banner-1 h3 span {
      color: #5b5757;
      font-weight: 300; }
  .banner-1 h4 {
    text-shadow: 0 2px 4px transparent;
    color: #4e66d7;
    font-size: 28px;
    font-weight: 300;
    margin: 20px 0 60px 0;
    position: relative;
    left: 26px; }

.news, .weekly-bets {
  float: left;
  width: 100%; }

.more {
  float: left;
  width: 100%; }

.dropdown-menu > li > a {
  padding: 4px 20px;
  font-weight: 600;
  color: #4b4250; }

.dropdown-menu {
  padding: 5px 0;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 0;
  font-weight: 700; }

.dropdown-menu .divider {
  margin: 2px 0;
  background-color: rgba(229, 229, 229, 0.33); }

.content {
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-color: #fff;
  padding: 20px; }

.left-menu {
  float: left;
  width: 19%;
  position: relative;
  z-index: 100;
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-color: #fff;
  padding: 20px; }
  .left-menu .social .fa-facebook {
    color: #533eae; }
  .left-menu .social .fa-twitter {
    color: #a59ad8; }
  .left-menu .social .fa-google-plus {
    color: #db4669; }
  .left-menu .social a:hover {
    opacity: .7; }
  .left-menu .social li {
    float: left;
    margin-right: 33px;
    font-size: 25px; }
    .left-menu .social li:last-child {
      margin-right: 0; }
  .left-menu h4 {
    color: #585656;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 19px; }
  .left-menu .menu-list {
    margin-bottom: 19px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px; }
    .left-menu .menu-list li {
      margin-bottom: 6px; }
    .left-menu .menu-list a {
      color: #8998aa; }
    .left-menu .menu-list a:hover {
      opacity: .7; }

.content-page {
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-color: #fff;
  padding: 20px 30px;
  float: left;
  width: 81%; }
  .content-page h1 {
    color: #7156d2;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 17px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(228, 228, 228, 0.43); }
  .content-page .txt {
    font-size: 14px;
    letter-spacing: .5px;
    color: #49445b;
    font-weight: 400; }
    .content-page .txt h2, .content-page .txt h3, .content-page .txt h1, .content-page .txt h4, .content-page .txt h5 {
      font-size: 21px;
      margin-bottom: 12px; }

.pages .col-md-3 {
  padding-right: 0; }
.pages .col-md-9 {
  padding-left: 0; }

.img-center {
  display: table;
  margin: 14px auto;
  width: 100%;
  image-rendering: pixelated; }

.open-button {
  display: none;
  font-size: 16px;
  color: #9a9a9a;
  font-weight: 600; }
  .open-button i {
    margin-right: 16px;
    position: relative;
    top: 1px;
    font-size: 17px;
    color: #ffffff;
    background: #574b5a;
    border-radius: 100px;
    text-align: center;
    width: 26px;
    height: 26px;
    line-height: 26px; }
  .open-button:hover {
    color: #4d4d4e; }

.lines {
  border-bottom: 1px solid #f2f2f2;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px; }

.button-primary {
  padding: 0 25px;
  height: 51px;
  line-height: 51px;
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  border-radius: 3px;
  background-image: linear-gradient(to right, #859fe5 0%, #1752e1 100%);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  margin-top: 20px; }
  .button-primary:hover {
    background-image: linear-gradient(to right, #7a94d7 0%, #1648cb 100%); }
  .button-primary:focus {
    box-shadow: inset 0 1px 28px #493d8d; }

.puts input[type='text'], .puts select, .puts input[type='email'], .puts input[type='password'] {
  width: 100%;
  height: 54px;
  line-height: 50px;
  border-radius: 4px;
  border: 2px solid #ececec;
  background-color: #fff;
  padding: 0 15px;
  color: #736f81;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .puts input[type='text']:hover, .puts select:hover, .puts input[type='email']:hover, .puts input[type='password']:hover {
    box-shadow: inset 0 1px 10px rgba(73, 61, 141, 0.26);
    border: 2px solid #dfdfdf;
    background-color: #fff; }
  .puts input[type='text']:focus, .puts select:focus, .puts input[type='email']:focus, .puts input[type='password']:focus {
    box-shadow: inset 0 1px 10px rgba(73, 61, 141, 0.26);
    border: 2px solid #dfdfdf;
    background-color: #fafafa; }
.puts textarea {
  width: 100%;
  min-height: 165px;
  border-radius: 4px;
  border: 2px solid #ececec;
  background-color: #fff;
  padding: 15px;
  color: #736f81;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px; }
  .puts textarea:hover {
    box-shadow: inset 0 1px 10px rgba(73, 61, 141, 0.26);
    border: 2px solid #dfdfdf;
    background-color: #fff; }
  .puts textarea:focus {
    box-shadow: inset 0 1px 10px rgba(73, 61, 141, 0.26);
    border: 2px solid #dfdfdf;
    background-color: #fafafa; }

.logo-white {
  display: table;
  margin: 0 auto 30px auto; }

.login-form {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  padding: 24px;
  overflow: auto; }
  .login-form h1 {
    color: #7156d2;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    float: left; }

.panel-head {
  float: left;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .panel-head a {
    float: right;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: 7px; }

.more-sytle {
  background-image: linear-gradient(to right, #859fe5 0%, #1752e1 100%); }

.center-low {
  width: 450px;
  margin: 58px auto; }

.center-low-join {
  width: 890px;
  margin: 58px auto; }

label {
  display: block;
  font-weight: 600;
  color: #616161;
  margin-bottom: 10px;
  float: left; }

.money {
  height: 55px;
  box-shadow: 0 6px 8px rgba(164, 164, 164, 0.21);
  background-color: #fff;
  display: block;
  text-align: center;
  line-height: 55px;
  color: #736f81;
  font-size: 15px;
  font-weight: 400; }

.profile-extra {
  float: left;
  width: 100%; }
  .profile-extra li {
    margin-bottom: 17px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(228, 228, 228, 0.43);
    color: #736f81;
    font-size: 15px;
    font-weight: 300; }
    .profile-extra li span {
      float: right; }
      .profile-extra li span i {
        margin-right: 40px; }

.promo-left {
  width: 18%;
  margin-right: 1%; }

.promo {
  background: none;
  box-shadow: none;
  padding: 0px 15px; }

.promo-box {
  box-shadow: -3px 3px 22px rgba(164, 164, 164, 0.21);
  background-color: #fff;
  padding: 20px 0px 0px 20px;
  margin-bottom: 30px;
  min-height: 224px; }
  .promo-box img {
    max-width: 100%; }
  .promo-box:hover {
    opacity: .7; }

.okey {
  width: 191px;
  font-size: 15px;
  font-weight: 500;
  color: #b8b8b8;
  float: left; }
  .okey a {
    color: #1b1d25; }

.transfer ul {
  float: left;
  width: 100%;
  margin-bottom: 40px; }
.transfer .active a {
  box-shadow: inset 0 1px 30px rgba(136, 119, 230, 0.17); }
.transfer li {
  float: left;
  width: 49%;
  margin-bottom: 2%; }
  .transfer li:nth-child(odd) {
    margin-right: 2%; }
  .transfer li a {
    border: 1px solid #eee;
    font-weight: 600;
    font-size: 18px;
    color: #4673e3;
    display: block;
    overflow: hidden;
    padding: 20px;
    line-height: 55px; }
    .transfer li a i {
      font-size: 56px;
      float: right;
      color: #716c66; }
    .transfer li a:hover {
      box-shadow: inset 0 1px 30px rgba(136, 119, 230, 0.17);
      color: #716c66; }
      .transfer li a:hover i {
        color: #4673e3; }

.head-sub {
  margin-bottom: 4px;
  border-bottom: 1px solid #eee;
  padding-bottom: 17px;
  font-size: 18px;
  float: left;
  width: 100%; }

.banks-box h4 {
  margin-bottom: 15px;
  font-size: 16px;
  border-bottom: 1px solid #eee; }
  .banks-box h4 a {
    display: block;
    cursor: pointer;
    color: #585656;
    font-size: 15px;
    padding: 10px 10px; }
.banks-box table {
  font-size: 13px;
  letter-spacing: .3px;
  color: #49445b; }
.banks-box .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fbfbfb; }
.banks-box .table > tbody > tr > td, .banks-box .table > tbody > tr > th, .banks-box .table > tfoot > tr > td, .banks-box .table > tfoot > tr > th, .banks-box .table > thead > tr > td, .banks-box .table > thead > tr > th {
  padding: 10px 8px;
  border-top: 1px solid #f3f3f3; }
.banks-box tbody tr td:first-child {
  font-weight: 600; }

#BankVal h3 {
  font-size: 18px;
  margin-bottom: 14px; }
#BankVal .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fbfbfb; }
#BankVal table tr {
  border: 2px solid #ececec; }
#BankVal tbody tr td:first-child {
  font-weight: 600; }

.modal {
  background-image: linear-gradient(to right, rgba(133, 159, 229, 0.31765) 0%, rgba(23, 82, 225, 0) 100%); }

.modal-content {
  border: 0;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.36);
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.36); }

.modal-body {
  color: #49445b;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .3px;
  line-height: 24px; }

.modal-footer {
  border-top: 1px solid #f3f3f3; }

.modal-header {
  border-bottom: 1px solid #f3f3f3; }

.modal-title {
  color: #555261; }

.alert-info {
  color: #4e5858;
  background-color: #fbfbfb;
  border-color: #f3f3f3 !important;
  font-size: 14px; }

.alert {
  padding: 15px;
  margin-bottom: 24px;
  border: 1px solid transparent;
  border-radius: 4px; }

.war-link {
  background: #3ac27b;
  color: #fff;
  padding: 3px 6px;
  border-radius: 3px;
  box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer; }
  .war-link:hover {
    background: #3365e2;
    color: #fff; }

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  right: 26%; }

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  left: 20%; }

#footer {
  background: #ffffff;
  box-shadow: 0 2px 32px rgba(90, 78, 132, 0.29);
  padding-top: 40px;
  margin-top: 90px; }
  #footer .banks {
    text-align: center; }
  #footer .footer-logo {
    text-align: center;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.45);
    padding-bottom: 20px; }
    #footer .footer-logo a {
      text-shadow: 0 2px 4px transparent;
      font-size: 35px;
      color: #4e66d7;
      font-weight: 700; }
      #footer .footer-logo a span {
        color: #5b5757 !important;
        font-weight: 300; }
  #footer .row {
    max-width: 700px;
    display: table;
    margin: auto; }
  #footer li {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 11px;
    color: #8998aa; }
    #footer li a {
      color: #8998aa; }
      #footer li a:hover {
        opacity: .7; }
  #footer h4 {
    color: #4e66d7;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 18px; }

.copyright {
  padding: 20px 0 12px 0;
  display: block;
  color: #babfcf;
  font-size: 14px;
  font-weight: 500; }

.dropdown.mobile {
  display: none; }

@media (min-width: 1250px) {
  .container {
    width: 1250px; } }
@media (max-width: 990px) {
  .logo img {
    top: -8px !important; }

  .login-header {
    display: none; }

  .dropdown.mobile {
    display: inline-block; }
    .dropdown.mobile button {
      color: #fff;
      font-size: 21px;
      border: none;
      position: relative;
      top: -4px;
      background: #cece66;
      width: 50px;
      height: 44px;
      border-radius: 2px;
      box-shadow: 0 2px 4px rgba(100, 100, 100, 0.5); }

  .news-box, .companie-box {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    margin-bottom: 14px; }

  #footer .banks img {
    max-width: 100%; }

  .ro {
    float: left; }

  .about-us .box {
    margin-bottom: 20px; }

  .companie-box {
    padding: 0 10px;
    line-height: 108px; }
    .companie-box img {
      max-width: 100%; }

  .companies, .about-us {
    margin-bottom: 0; }

  .ro {
    padding-right: 0; }

  .today-match .col-sm-8 {
    padding-right: 7px; }

  .today-match .col-sm-4 {
    padding-left: 7px; }

  .weekly-bets h2 {
    font-size: 17px; }
    .weekly-bets h2 i {
      margin-right: 12px; }

  #slider {
    display: none; }

  .today-match .right {
    overflow: hidden;
    min-height: auto; }

  #footer {
    padding-top: 30px;
    margin-top: 40px;
    text-align: center; }

  .about-us h3 {
    font-size: 18px; }

  .about-us p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 0; }

  .about-us .box {
    min-height: auto;
    padding: 16px; }

  .today-match .right .top .high-logo img {
    max-width: 83px; }

  .today-match .right .top .high {
    font-size: 19px; }

  .today-match .right .bottom {
    float: left;
    width: 100%;
    margin-top: 9px;
    border-top: 0;
    padding-top: 6px; }

  .today-match .left li {
    float: none;
    text-align: center;
    margin-right: 0px;
    border-right: 0;
    color: #241f33;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 0px 13px 0;
    display: table-cell;
    width: 26%; }

  .today-match .left ul {
    float: none;
    display: table;
    margin: auto;
    padding-bottom: 6px; }

  .today-match .left .pos {
    position: relative;
    top: 0;
    padding-left: 0;
    text-align: center; }

  .today-match .left h2 {
    color: #8570db;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: #f2f2f2 1px solid;
    padding: 15px 20px;
    margin-bottom: 13px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

  .today-match .left .ligs, .today-match .left .date, .top-menu, .login-menu, .open-up {
    display: none; }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 7px;
    padding-left: 7px; }

  .today-match {
    margin-bottom: 20px; }

  #header {
    padding: 30px 0 16px 0;
    height: auto; }

  .left-menu {
    float: left;
    width: 100%;
    margin-bottom: 20px; }

  .content-page {
    float: left;
    width: 100%;
    margin-bottom: 20px; }

  .left-menu {
    z-index: 0; }

  .open-up {
    margin-top: 20px; }

  .open-button {
    display: block; }

  .center-low {
    width: 90%; }

  .money {
    margin-bottom: 20px; }

  .profile-extra {
    margin-top: 30px; }

  .promo-box {
    min-height: 100%; }

  .center-low-join {
    width: 90%; } }

/*# sourceMappingURL=main.css.map */
